<img style="float: left;;" src='Figures/iteso.jpg' width="50" height="100"/></a>

# <center> <font color= #000047> Introducción a Python: Listas, Iteraciones y Strings


<img style="float: right; margin: 0px 0px 15px 15px;" src="https://www.python.org/static/community_logos/python-logo.png" width="200px" height="200px" />

> Ya conocemos un poco más de la sintaxis de Python, como hacer funciones y como usar condicionales. Es hora que veamos otros tipos de variables (arreglos) y cómo hacer líneas de código que ejecuten operaciones repetitivas.

Referencias:
- https://www.kaggle.com/learn/python
___

# 1. Listas

Las listas son objetos en Python representan secuencias ordenadas de valores. 

Veamos un par de ejemplos de como crearlas:

In [1]:
# Primeros números primos
primos = [2,5,3,7]

# Planetas del sistema solar
planetas = ['Mercurio', 'Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [2]:
primos

[2, 5, 3, 7]

In [3]:
planetas

['Mercurio',
 'Venus',
 'Tierra',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno']

In [4]:
type(primos)

list

Vemos que las listas no son exclusivamente de números. 

Ya vimos listas de números, pero también de strings.

Incluso, se pueden hacer listas de listas:

In [5]:
lista_primos_planetas = [primos,planetas]
lista_primos_planetas

[[2, 5, 3, 7],
 ['Mercurio',
  'Venus',
  'Tierra',
  'Marte',
  'Jupiter',
  'Saturno',
  'Urano',
  'Neptuno']]

Aún más, se pueden hacer listas de diferentes tipos de objetos:

In [6]:
lista_diferentes_tipos = [2, 0.1, 'Hola', help, primos]
lista_diferentes_tipos

[2,
 0.1,
 'Hola',
 Type help() for interactive help, or help(object) for help about object.,
 [2, 5, 3, 7]]

Sin duda, en muchas ocasiones nos será muy útil tener una sola lista guardando varios resultados, que muchos resultados guardados en objetos individuales.

Pero, una vez en la lista, ¿cómo accedemos a los objetos individuales?

## 1.1 Indizado

Podemos acceder a los elementos individuales pertenecientes a la lista a través de brackets ([])

Por ejemplo, ¿cuál planeta está más cercano al sol en nuestro sistema solar?

- Acá una nota importante: Python usa índices comenzando en cero (0):

In [7]:
planetas

['Mercurio',
 'Venus',
 'Tierra',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno']

In [8]:
# Planeta más cercano al sol
planetas[0]

'Mercurio'

In [9]:
# Siguiente planeta
planetas[1]

'Venus'

In [10]:
planetas[7]

'Neptuno'

Todo bien...

Ahora, ¿cuál es el planeta más alejado del sol?

- Los elementos de una lista pueden tambien ser accedidos de atrás para adelante, utilizando números negativos:

In [11]:
# Planeta más alejado del sol
planetas[-1]

'Neptuno'

In [12]:
# Segundo planeta más alejado
planetas[-2]

'Urano'

In [13]:
planetas[6]

'Urano'

Muy bien...

Y si quisiéramos averiguar, por ejemplo, ¿cuáles son los tres planetas más cercanos al sol?

In [14]:
# Tres primeros planetas
planetas[0:3]

['Mercurio', 'Venus', 'Tierra']

Entonces `lista[a:b]` es nuestra manera de preguntar por todos los elementos de la lista con índice comenzando en `a` y continuando hasta `b` sin incluir (es decir, hasta `b-1`).

Los índices de comienzo y de término son opcionales:
- Si no ponemos el índice de inicio, se asume que es cero (0): `lista[:b] == lista[0:b]`

In [15]:
# Reescribir la expresión anterior
planetas[:3]

['Mercurio', 'Venus', 'Tierra']

In [20]:
planetas[-3:8]

['Saturno', 'Urano', 'Neptuno']

In [21]:
planetas[-3:]

['Saturno', 'Urano', 'Neptuno']

- Equivalentemente, si no ponemos el índice de fin, se asume que este equivale a la longitud de la lista:

In [22]:
planetas

['Mercurio',
 'Venus',
 'Tierra',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno']

In [23]:
# Lista de todos los planetas comenzando desde el planeta tierra
planetas[2:]

['Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [24]:
planetas[-2:]

['Urano', 'Neptuno']

También podemos usar índices negativos cuando accedemos a varios objetos.

Por ejemplo, ¿qué obtenemos con las siguientes expresión?

In [25]:
planetas[-1]

'Neptuno'

```python
lista[n:n + N] = [lista[n], lista[n + 1], ..., lista[n + N - 1]]
```

In [27]:
planetas[:4] + planetas[5:]

['Mercurio', 'Venus', 'Tierra', 'Marte', 'Saturno', 'Urano', 'Neptuno']

Slice:

```python
lista[n:n+N:s] = [lista[n], lista[n + s], lista[n + 2 * s], ..., ]
```

In [30]:
planetas

['Mercurio',
 'Venus',
 'Tierra',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno']

In [31]:
planetas[2:7:3]

['Tierra', 'Saturno']

In [32]:
# Elementos de la lista en reverso (al revés)
primos

[2, 5, 3, 7]

In [33]:
primos[::-1]

[7, 3, 5, 2]

## 1.2 Modificando listas

Las listas son objetos "mutables", es decir, sus objetos pueden ser modificados directamente en la lista.

Una manera de modificar una lista es asignar a un índice.

Por ejemplo, supongamos que la comunidad científica, con argumentos basados en la composición del planeta, decidió modificar el nombre de "Planeta Tierra" a "Planeta Agua".

In [34]:
planetas

['Mercurio',
 'Venus',
 'Tierra',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno']

In [35]:
planetas[2] = 'Agua'

In [36]:
planetas

['Mercurio',
 'Venus',
 'Agua',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno']

También podemos cambiar varios elementos de la lista a la vez:

In [37]:
planetas[:3] = ['Mer', 'Ven', 'Tie']

In [38]:
planetas

['Mer', 'Ven', 'Tie', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

## 1.3 Funciones sobre listas

Python posee varias funciones supremamente útiles para trabajar con listas.

`len()` nos proporciona la longitud (número de elementos) de una lista:

In [39]:
# función len()
len(planetas)

8

In [40]:
len(primos)

4

`sorted()` nos regresa una versión ordenada de una lista:

In [41]:
# Ayuda en la función sorted
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [42]:
primos

[2, 5, 3, 7]

In [43]:
# Llamar la función sorted sobre primos
sorted(primos)

[2, 3, 5, 7]

In [44]:
sorted(primos, reverse=True)

[7, 5, 3, 2]

In [45]:
# Llamar la función sorted sobre planetas
sorted(planetas)

['Jupiter', 'Marte', 'Mer', 'Neptuno', 'Saturno', 'Tie', 'Urano', 'Ven']

In [47]:
planetas[4]

'Jupiter'

In [48]:
len('Jupiter')

7

In [51]:
def long_str(s):
    return len(s)

In [52]:
long_str("Jupiter")

7

In [53]:
long_str2 = lambda s: len(s)

In [54]:
long_str2("Jupiter")

7

**Paréntesis: Funciones anónimas**

Las funciones anónimas comienzan con la palabra clave `lambda` seguidas por el (los) argumento(s) de la función. Después de `:` se escribe lo que retorna la función.

In [56]:
sorted(planetas)

['Jupiter', 'Marte', 'Mer', 'Neptuno', 'Saturno', 'Tie', 'Urano', 'Ven']

In [55]:
sorted(planetas, key= lambda s:len(s))

['Mer', 'Ven', 'Tie', 'Marte', 'Urano', 'Jupiter', 'Saturno', 'Neptuno']

`sum()`, ya se imaginarán que hace:

In [57]:
primos

[2, 5, 3, 7]

In [ ]:
# Ayuda en la función sum

In [58]:
# sum
sum(primos)

17

En la clase pasada utilizamos las funciones `min()` y `max()` sobre varios argumentos.

También le podemos pasar un solo argumento tipo lista.

In [59]:
# min
min(primos)

2

In [60]:
# max
max(primos)

7

___
## Pausa: Objetos

Hasta ahora he venido utilizando la palabra **objeto** sin darle mucha importancia. ¿Qué significa en realidad?

- si han visto algo de Python, pueden haber escuchado que todo en Python es un objeto.

En la siguiente semana estudiaremos a nivel muy básico qué es la programación orientada a objetos.

Por ahora, nos basta con saber que los objetos cargan varias "cosas" con ellos, y podemos acceder a estas "cosas" utilizando la "sintaxis punto (.)" de Python.

Por ejemplo, los números en Python tienen una variable asociada llamada `imag`, la cual representa su parte imaginaria:

In [61]:
# Atributos real e imag
a = 7

In [62]:
type(a)

int

In [63]:
a.imag

0

In [64]:
a.real

7

In [65]:
b = 4 + 5j

In [66]:
b

(4+5j)

In [67]:
b.imag

5.0

In [68]:
b.real

4.0

In [69]:
dir(a)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [70]:
a

7

In [71]:
a.numerator

7

In [72]:
a.denominator

1

In [75]:
c = 2/5

In [78]:
c.as_integer_ratio()

(3602879701896397, 9007199254740992)

Entre las "cosas" que los objetos cargan, también pueden haber funciones. 

Una función asociada a un objeto se llama **método**.

Las "cosas" asociadas a los objetos, que no son funciones, son llamados **atributos** (ejemplo: imag).

In [79]:
b

(4+5j)

In [80]:
# Método conjugate()
b.conjugate()

(4-5j)

Y si no sabemos qué hace un método determinado en un objeto, también podemos pasar métodos a la función `help()`, de la misma manera en que le pasamos funciones:

In [81]:
# help(objeto.metodo)
help(b.conjugate)

Help on built-in function conjugate:

conjugate(...) method of builtins.complex instance
    complex.conjugate() -> complex

    Return the complex conjugate of its argument. (3-4j).conjugate() == 3+4j.

Bueno, ¿y esto de que nos sirve?

Pues las listas tienen una infinidad de métodos útiles que estaremos usando...
___

In [83]:
planetas

['Mer', 'Ven', 'Tie', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [84]:
planetas.index('Tie')

2

In [85]:
planetas.index('Tierra')

ValueError: 'Tierra' is not in list

In [86]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [87]:
primos

[2, 5, 3, 7]

In [88]:
primos.extend([11,13])

In [89]:
primos

[2, 5, 3, 7, 11, 13]

## 1.5 Tuplas

También son arreglos de objetos similares a las listas. Se diferencian en dos maneras:

- La sintaxis para crear tuplas usa paréntesis (o nada) en vez de brackets:

In [90]:
t = (1,2,3)

In [91]:
t

(1, 2, 3)

In [92]:
# O equivalentemente
t = 1,2,3
t

(1, 2, 3)

In [95]:
t[:3]

(1, 2, 3)

- Las tuplas, a diferencia de las listas, no pueden ser modificadas (son objetos inmutables):

In [96]:
# Intentar modificar una tupla
t[0]

1

In [97]:
t[0] = 10

TypeError: 'tuple' object does not support item assignment

Las tuplas son usadas comúnmente para funciones que devuelven más de un valor.

Por ejemplo, el método `as_integer_ratio()` de los objetos `float`, devuelve el numerador y el denominador en la forma de una tupla:

In [98]:
# as_integer_ratio
a = 0.25

In [99]:
a.as_integer_ratio()

(1, 4)

In [100]:
num, den = a.as_integer_ratio()

In [101]:
num

1

In [102]:
den

4

In [ ]:
# Ayuda en el método float.as_integer_ratio

También pueden ser usadas como un atajo:

In [103]:
a = (1,2)
b = (0,'A')
a, b = b, a

print(a,b)

(0, 'A') (1, 2)

# 2. Ciclos o iteraciones

## 2.1 Ciclos `for`

Las iteraciones son una manera de ejecutar cierto bloque de código repetidamente:

In [104]:
# Planetas, de nuevo
planetas

['Mer', 'Ven', 'Tie', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [105]:
# Imprimir todos los planetas en la misma línea
for planeta in planetas:
    print(planeta, end=', ')

Mer, Ven, Tie, Marte, Jupiter, Saturno, Urano, Neptuno,

Para construir un ciclo `for`, se debe especificar:

- el nombre de la variable que va a iterar (planeta),

- el conjunto de valores sobre los que va a iterar la variable (planetas).

Se usa la palabra `in`, en este caso, para hacerle entender a Python que *planeta* va a iterar sobre *planetas*.

El objeto a la derecha de la palabra `in` puede ser cualquier objeto **iterable**. Básicamente, un iterable es cualquier arreglo (listas, tuplas, conjuntos, arreglos de numpy, series de pandas...).

Por ejemplo, queremos hallar la multiplicación de todos los elementos de la siguiente tupla.

In [106]:
# Multiplicación como ciclo
multiplicandos = (2,2,2,3,3,5)
multiplicandos

(2, 2, 2, 3, 3, 5)

In [109]:
prod = 1
for number in multiplicandos:
    #prod = number*prod
    prod *= number

In [110]:
prod

360

Incluso, podemos iterar sobre los caracteres de un string:

In [111]:
s = 'HELLO steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'
# Imprimir solo los caracteres en mayúscula, sin espacios, uno seguido de otro

for char in s:
    print(char if char.isupper() else '', end = '')

HELLOHELLO

### 2.1.1 Función `range()`

La función `range()` es una función que devuelve una secuencia de números. Es extremadamente útil para escribir ciclos for.

Por ejemplo, si queremos repetir una acción 5 veces:

In [112]:
# For de 5 iteraciones
for i in range(5):
    print('Hola, Mundo')

Hola, Mundo
Hola, Mundo
Hola, Mundo
Hola, Mundo
Hola, Mundo

In [114]:
list(range(4,8))

[4, 5, 6, 7]

In [117]:
list(range(4,8)), list(range(4,8,2))

([4, 5, 6, 7], [4, 6])

**Ejercicio:**

1. Escribir una función que devuelva los primeros $n$ elementos de la sucesión de Fibonacci, usando un ciclo `for`.

In [118]:
def fibonacci_for(n):
    if n == 1:
        fibonacci = [0]
    elif n == 2:
        fibonacci = [0, 1]
    elif n >= 3:
        fibonacci = [0, 1]
        for i in range(n - 2):
            fibonacci.append(fibonacci[-2] + fibonacci[-1])
        
    return fibonacci

In [119]:
fibonacci_for(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

## 2.2 Ciclos `while`

Son otro tipo de ciclos en Python, los cuales iteran hasta que cierta condición deje de cumplirse.

Por ejemplo:

El argumento de un ciclo `while` se evalúa como una condición lógica, y el ciclo se ejecuta hasta que dicha condición sea **False**.

**Ejercicio:**

1. Escribir una función que devuelva los primeros $n$ elementos de la sucesión de Fibonacci, usando un ciclo `while`.

2. Escribir una función que devuelva los elementos menores a cierto número $x$ de la sucesión de Fibonacci, usando un ciclo `while`.

## 2.3 List comprehensions (no encuentro una traducción suficientemente buena de esto)

List comprehension son una de las características más chidas de Python. La manera más fácil de entenderla, como muchas cosas, es revisando ejemplos:

In [ ]:
# Primero, con ciclo for: listar los cuadrados de los 10 dígitos

In [ ]:
# Ahora con una list comprehension

Podemos agregar, incluso, condicionales:

In [ ]:
# Ejemplo con los planetas

Se puede usar para dar formato:

In [ ]:
# str.upper()

Es supremamente importante aprender esto, ya que es ampliamente utilizado y ayuda a reducir muchísimas líneas de código.

Ejemplo: escribir la siguiente función usando un ciclo for.

In [ ]:
cuantos_negativos((5, -1, -2, 0, 3))

Ahora, con list comprehensions:

In [ ]:
# Probar la función

# 3. Strings y diccionarios

## 3.1 Strings

Si hay algo en lo que Python es la ley es manipulando Strings. En esta sección veremos algunos de los métodos de los objetos tipo string, y operaciones de formateo (muy útiles en la limpieza de bases de datos, por cierto).

### 3.1.1 Sintaxis string

Ya hemos visto varios ejemplos involucrando strings anteriormente. Solo para recordar:

Hay casos particulares para preferir una u otra:

- Las comillas dobles son convenientes si tu string contiene un apóstrofe.

- De manera similar, se puede crear fácilmente un string que contiene comillas dobles englobándolo en comillas simples.

Ejemplos:

### 3.1.2 Los strings son iterables

Los objetos tipo strings son cadenas de caracteres. Casi todo lo que vimos que le podíamos aplicar a una lista, se lo podemos aplicar a un string.

In [ ]:
# string de ejemplo

In [ ]:
# Indexado

In [ ]:
# Indexado multiple

In [ ]:
# ¿Cuántos caracteres tiene?

In [ ]:
# También podemos iterar sobre ellos

Sin embargo, una diferencia principal con las listas, es que son inmutables (no los podemos modificar).

## 3.2 Diccionarios

Los diccionarios son otros objetos de Python que mapean llaves a elementos:

En este caso, los strings "uno", "dos", y "tres" son las llaves, y los números 1, 2 y 3 son sus valores correspondientes.

Los valores son accesados con brackets, similarmente a las listas:

Usamos una sintaxis similar para añadir otro par llave, valor

O cambiar el valor asociado a una llave existente

### Navegando entre listas, tuplas, diccionarios: `zip`

Supongamos que tenemos dos listas que se corresponden:

¿Cómo puedo asociar estos valores en un diccionario? Con `zip`:

In [ ]:
# Primero, obtener la lista de pares

In [ ]:
# Después obtener diccionario de relaciones

Al ser los diccionarios iterables, puedo iterar sobre ellos (valga la redundancia)

In [ ]:
# Iterar sobre diccionario

In [ ]:
# Iterar sobre valores

In [ ]:
# Iterar sobre pares llave-valor